{% extends 'base.html' %}
{% load static %}

{% block title %} O nama | {% endblock title %}

{% block head %}

<div class="about-heading">
    <h4 class="about-uptitle">Upoznajte</h4>
    <h1 class="about-title">DigiTalk</h1>
    <hr class="about-border">
    <h2>Fokusiranje na pravi pristup i prave ljude</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vero laborum, asperiores ab perferendis quam quia
        quasi commodi eos unde quod quo tempora consequuntur architecto velit similique repellendus esse quae.</p>
</div>
<div class="about-info">
    <h2>Prednosti našeg tima</h2>
    <img src='{% static  'images/about-design4.png' %}'>
    <p class="about-description">Rad na zanimljivim projektima sa klijentima iz cijelog svijeta</p>
    <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem at corporis modi sapiente
        fuga repellat ipsum voluptates alias optio animi commodi nihil, ipsa unde quae possimus natus voluptatibus esse
        recusandae. Vero nihil asperiores reprehenderit rerum saepe, at alias numquam dolore magnam, quo eum aut?
        Corrupti, laborum ut maiores corporis quod eveniet at nam voluptatibus molestias quibusdam? Assumenda, alias
        necessitatibus quae incidunt dolorum voluptatibus veritatis unde quia. Recusandae praesentium sunt illum ut
        dolor, cumque odio optio. Iusto fugit vero nesciunt sit laborum numquam, iure neque quia veritatis maxime fuga
        vel ex natus dolore ipsum velit pariatur, alias recusandae culpa illo!</p>
    <img src='{% static  'images/about-design.png' %}'>
    <p class="about-description">Timski rad i saradnja sa najboljim stručnjacima</p>
    <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ab? Perspiciatis, commodi
        quas? Reiciendis, odit. Aspernatur illum atque ullam et magnam aperiam fuga exercitationem voluptate, minus
        laboriosam quis doloremque mollitia ex rem velit qui quae, culpa reiciendis sunt consectetur! Vero ducimus quos
        aliquid fugit dicta sapiente saepe possimus? Aspernatur, magni.</p>
    <img src='{% static  'images/about-design3.png' %}'>
    <p class="about-description">Rad sa najboljim alatima</p>
    <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rem at corporis modi sapiente
        fuga repellat ipsum voluptates alias optio animi commodi nihil, ipsa unde quae possimus natus voluptatibus esse
        recusandae. Vero nihil asperiores reprehenderit rerum saepe, at alias numquam dolore magnam, quo eum aut?
        Corrupti, laborum ut maiores corporis quod eveniet at nam voluptatibus molestias quibusdam? Assumenda, alias
        necessitatibus quae incidunt dolorum voluptatibus veritatis unde quia. Recusandae praesentium sunt illum ut
        dolor, cumque odio optio. Iusto fugit vero nesciunt sit laborum numquam, iure neque quia veritatis maxime fuga
        vel ex natus dolore ipsum velit pariatur, alias recusandae culpa illo!</p>

    <p class="about-question">Želite da postanete dio našeg tima?</p>
    <a href="{% url 'careers' %}" class="about-link" target="_blank">Provjerite trenutno otvorene pozicije!</a>
</div>

{% endblock head %}
