{% extends 'base.html' %}

{% block title %} Blog | {% endblock title %}

{% block head %}

<div class="blog-page">
    <h1 class="blog-page-title">Blog</h1>

    <div class="tagline">
        {% for cat in cat_list %}
            <a href="{% url 'category' cat|slugify %}" id="blog-cat">{{ cat.name }}</a>
        {% endfor %}
        
        <p id="menu" onclick="showDiv('search-form');">?</p>
        
        <div id="search-form" style="display:none;">
            <form action="" method="GET">
                <input type="text" placeholder="Trazis nesto?" name="search">
                <button id="btn-search" type="submit"><i class='bx bx-search' ></i></button>
            </form>
        </div>

    </div>

    <ul class="blog-posts">
        {% for post in object_list %}
            <li>
                <span class="blog-post-author">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                <a class="blog-post-link" href="{% url 'blog_post' post.pk %}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
    
</div>

{% endblock head %}
