{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock title %}

{% block head %}

<div class="blog-page">

    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-author">/ {{ post.author.first_name }} {{ post.author.last_name }}</p>
            <p class="post-date">/ {{ post.date }}</p>

            {% if user.is_authenticated %}
                <p class="post-edit"><a href="{% url 'edit_post' post.pk %}">[Uredi]</a> <a href="{% url 'delete_post' post.pk %}">[Obriši]</a></p>
            {% endif %}

            <ul class="post-share">
                <li><i class='bx bx-share'></i></li>
                <li><a class="share-btn" href="" target="_blank" title="Reddit">Re</a></li>           
                <li><a class="share-btn" href="" target="_blank" title="Facebook">Fb</a></li>
                <li><a class="share-btn" href="" target="_blank" title="Twitter">Tw</a></li>
                <li><a class="share-btn" href="" target="_blank" title="Email">Em</a></li>
                <li><a class="share-btn" href="" target="_blank" title="LinkedIn">Ln</a></li>
            </ul>
        </header>

        {{ post.body|safe }}
    
    </article>
        
    <p class="post-cat"><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></p>

    <hr>
    <h3>Komentari:</h3>
    {% if not post.comments.all %}
        <p>Trenutno nema komentara na ovaj post!</p>
        <div class="add-comment-form">
            <p>Ostavi komentar</p>
            <p id="desc">Tvoja e-mail adresa neće biti objavljena.</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button>Ostavi komentar</button>
            </form>
        </div>
    {% else %}
        {% for c in post.comments.all %}
            <div class="comment">
                <p class="comment-author">{{ c.name }} <br> <span class="comment-info">{{ c.date }}</span></p>
                <div class="comment-msg">
                    {{ c.body }}
                </div>
            </div>
        {% endfor %}
        <div class="add-comment-form">
            <p>Ostavi komentar</p>
            <p id="desc">Tvoja e-mail adresa neće biti objavljena.</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button>Ostavi komentar</button>
            </form>
        </div>
    {% endif %}

</div>

{% endblock head %}
