{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock title %}

{% block head %}

<div class="blog-page">

    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-date">/ {{ post.date }}</p>
            <p class="post-author">/ {{ post.author.first_name }} {{ post.author.last_name }}</p>
            
            {% if user.is_authenticated %}
                <p class="post-edit"><a href="{% url 'edit_post' post.pk %}">[Uredi]</a> <a href="{% url 'delete_post' post.pk %}">[Obriši]</a></p>
            {% endif %}

            <ul class="post-share">
                <li><i class='bx bx-share'></i></li>
                <li><a class="share-btn" href="" target="_blank" title="Reddit">Re</a></li>           
                <li><a class="share-btn" href="" target="_blank" title="Facebook">Fb</a></li>
                <li><a class="share-btn" href="" target="_blank" title="Twitter">Tw</a></li>
                <li><a class="share-btn" href="" target="_blank" title="Email">Em</a></li>
                <li><a class="share-btn" href="" target="_blank" title="LinkedIn">Ln</a></li>
            </ul>
        </header>

        {{ post.body|safe }}
    
    </article>

    <a id="btn-back" href="{% url 'blog' %}"><i class='bx bxs-chevrons-left'></i>Nazad na Blog stranicu</a>
</div>

{% endblock head %}
