{% extends 'base.html' %}

{% block title %} Blog | {% endblock title %}

{% block head %}

<div class="blog-page">
    <h1 class="blog-page-title">Blog</h1>

    <div class="tagline">
        {% for cat in cat_list %}
            <a href="{% url 'category' cat|slugify %}" id="blog-cat">{{ cat.name }}</a>
        {% endfor %}
        <a id="menu" href="#" onclick="showDiv('search-form');">?</a>
    </div>

    <ul class="blog-posts">
        {% for post in object_list %}
            <li>
                <span class="blog-post-author">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                <a class="blog-post-link" href="{% url 'blog_post' post.pk %}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
    
</div>

{% endblock head %}
