{% extends 'base.html' %}

{% block title %} Home | {% endblock title %}



{% block head %}
<div class="home-heading">
    <h1 class="home-title">Mi razvijamo proizvode za bolju budućnost</h1>
</div>
<div class="home-grid">
    <div class="home-grid-item someSubject">
        <i class='bx bx-equalizer'></i>
        <h2>HEADING</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex id sit voluptatem corporis.
            Sunt accusantium id, omnis commodi recusandae impedit laudantium veniam vel odit architecto
            ipsum nulla illum quasi vitae eum sequi magnam magni rerum voluptates quisquam maiores ad
            numquam. Officia voluptates tenetur nam quae optio qui, quia rerum voluptatum esse
            repellendus, odit doloribus perspiciatis fuga id quo laboriosam facere quisquam sit beatae
            assumenda iste ipsa ab saepe commodi? Blanditiis, laborum illo ullam voluptatum possimus et,
            molestiae a iure totam cupiditate excepturi repudiandae odit.
        </p>
    </div>
    <div class="story-grid-item someSubject">
        <i class='bx bx-git-repo-forked'></i>
        <h2>HEADING
        </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex id sit voluptatem corporis.
            Sunt accusantium id, omnis commodi recusandae impedit laudantium veniam vel odit architecto
            ipsum nulla illum quasi vitae eum sequi magnam magni rerum voluptates quisquam maiores ad
            numquam. Officia voluptates tenetur nam quae optio qui, quia rerum voluptatum esse
            repellendus, odit doloribus perspiciatis fuga id quo laboriosam facere quisquam sit beatae
            assumenda iste ipsa ab saepe commodi? Blanditiis, laborum illo ullam voluptatum possimus et,
            molestiae a iure totam cupiditate excepturi repudiandae odit.
        </p>
    </div>
    <div class="story-grid-item someSubject">
        <i class='bx bxl-redux'></i>
        <h2>HEADING</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex id sit voluptatem corporis.
            Sunt accusantium id, omnis commodi recusandae impedit laudantium veniam vel odit architecto
            ipsum nulla illum quasi vitae eum sequi magnam magni rerum voluptates quisquam maiores ad
            numquam. Officia voluptates tenetur nam quae optio qui, quia rerum voluptatum esse
            repellendus, odit doloribus perspiciatis fuga id quo laboriosam facere quisquam sit beatae
            assumenda iste ipsa ab saepe commodi? Blanditiis, laborum illo ullam voluptatum possimus et,
            molestiae a iure totam cupiditate excepturi repudiandae odit.
        </p>
    </div>
    <div class="story-grid-item someSubject">
        <i class='bx bx-microchip'></i>
        <h2>HEADING</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex id sit voluptatem corporis.
            Sunt accusantium id, omnis commodi recusandae impedit laudantium veniam vel odit architecto
            ipsum nulla illum quasi vitae eum sequi magnam magni rerum voluptates quisquam maiores ad
            numquam. Officia voluptates tenetur nam quae optio qui, quia rerum voluptatum esse
            repellendus, odit doloribus perspiciatis fuga id quo laboriosam facere quisquam sit beatae
            assumenda iste ipsa ab saepe commodi? Blanditiis, laborum illo ullam voluptatum possimus et,
            molestiae a iure totam cupiditate excepturi repudiandae odit.
        </p>
    </div>
    <div class="story-grid-item someSubject">
        <i class='bx bx-microchip'></i>
        <h2>HEADING
        </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex id sit voluptatem corporis.
            Sunt accusantium id, omnis commodi recusandae impedit laudantium veniam vel odit architecto
            ipsum nulla illum quasi vitae eum sequi magnam magni rerum voluptates quisquam maiores ad
            numquam. Officia voluptates tenetur nam quae optio qui, quia rerum voluptatum esse
            repellendus, odit doloribus perspiciatis fuga id quo laboriosam facere quisquam sit beatae
            assumenda iste ipsa ab saepe commodi? Blanditiis, laborum illo ullam voluptatum possimus et,
            molestiae a iure totam cupiditate excepturi repudiandae odit.
        </p>
    </div>
    <div class="story-grid-item someSubject">
        <i class='bx bxl-audible'></i>
        <h2>HEADING</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex id sit voluptatem corporis.
            Sunt accusantium id, omnis commodi recusandae impedit laudantium veniam vel odit architecto
            ipsum nulla illum quasi vitae eum sequi magnam magni rerum voluptates quisquam maiores ad
            numquam. Officia voluptates tenetur nam quae optio qui, quia rerum voluptatum esse
            repellendus, odit doloribus perspiciatis fuga id quo laboriosam facere quisquam sit beatae
            assumenda iste ipsa ab saepe commodi? Blanditiis, laborum illo ullam voluptatum possimus et,
            molestiae a iure totam cupiditate excepturi repudiandae odit.
        </p>
    </div>
</div>
{% endblock head %}
