/*---------- GOOGLE FONTS ----------*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:wght@400..700&display=swap');

/*---------- Variables ----------*/
:root {
  --header-height: 3.5rem;
  --nav-width: 220px;

  --ff-body: 'Raleway', sans-serif;
  --ff-heading: 'Orbitron', sans-serif;

  --fs-normal: 0.9375rem;
  --fs-medium: 0.75rem;

  --fw-normal: 400;
  --fw-bold: 700;

  --clr-primary-100: #6fd7ec;
  --clr-primary-200: #4e96b8;
  --clr-primary-300: #3a7094;
  --clr-primary-400: #293b63;
  --clr-primary-500: #14213d;

  --clr-accent: #a3a3a3;
  --clr-dark-gray: #646464;
  --clr-light-gray: #dbdbdb;
  --clr-light: #FFFFFF;
  --clr-dark: #000000;
  --clr-blue: #0053d6;
  --clr-red: #bf2139;

  --z-fixed: 100;
}


/*---------- Base styling ----------*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--clr-primary-400) var(--clr-blue);
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  background: var(--clr-primary-500);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary-200);
  border-radius: 100vw;
}

body {
  font-family: var(--ff-body);
  margin: var(--header-height) 0 0 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border-radius: 20px;
  padding: 0 25px;
  height: 44px;
  line-height: 40px;
  transition: all 0.3s ease;
}


#page-container {
  position: relative;
  min-height: 100vh;
  margin-bottom: -150px;
}
#page-container:after {
  content: "";
  display: block;
  height: 150px;
}
#content-wrapper {
  padding-bottom: 3rem;
}
#content {
  padding: 1rem 1rem 0;
}

.error-404 {
  text-align: center;
}
.error-404 img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.error-404 p {
  font: 2.5rem var(--ff-heading);
  color: var(--clr-blue);
}


/*---------- HEADER ----------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-blue);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}
.header-container {
  position: relative;
  top: 18px;
  align-items: center;
  height: var(--header-height);
}
.header-logo {
  color: var(--clr-light);
  font: var(--fw-bold) 1.2rem var(--ff-heading);
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
}
.header-icon {
  font-size: 1.8rem;
  float: right;
}
#header-bars {
  color: var(--clr-light);
  cursor: pointer;
}


/*---------- NAVIGATION ----------*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--clr-blue);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: ease-in 0.4s;
}
.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 3rem;
}
.company-logo {
  display: flex;
  align-items: center;
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
  font-family: var(--ff-heading);
}
.nav-list,
.nav-items {
  display: grid;
}
.nav-list {
  row-gap: 8rem;
}
.nav-items {
  row-gap: 1.5rem;
}
.nav-link {
  display: flex;
  align-items: center;
  color: var(--clr-light);
}
.nav-link:hover {
  color: var(--clr-primary-400);
}
.nav-icon {
  font-size: 1.4rem;
  margin-right: .5rem;
}
.nav-name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
  white-space: nowrap;
}
.show-menu {
  left: 0;
}
.active {
  color: var(--clr-primary-400);
}

.nav-link-dropdown {
  overflow: hidden;
  max-height: 25px;
  transition: ease-in-out 0.4s;
}
.dropdown-collapse {
  background-color: var(--clr-light);
  border-radius: 5px;
  margin-top: 1rem;
}
.dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .5rem 2.5rem .5rem 1.8rem;
}
.dropdown-item {
  font-weight: var(--fw-bold);
  font-size: 0.8rem;
  color: var(--clr-accent);
}
.dropdown-item:hover {
  color: var(--clr-primary-500);
}
.dropdown-icon {
  margin-left: auto;
  transition: .4s;
}
.nav-link-dropdown:hover {
  max-height: 100rem;
}
.nav-link-dropdown:hover .dropdown-icon {
  transform: rotate(180deg);
}


/*---------- FOOTER ----------*/
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  padding: 10px 0;
  text-align: center;
  background-color: var(--clr-primary-500);
  color: var(--clr-light);
  overflow: hidden;
  border-top: 5px solid var(--clr-blue);
}
.footer a {
  color: var(--clr-light);
}
.footer .copyright {
  color: var(--clr-light);
}
.footer .copyright a:hover {
  color: var(--clr-blue);
}


/*---------- HOME ----------*/
.home-grid {
  margin: 200px 0;
}
.home-grid img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.home-grid-item {
  border: 3px solid var(--clr-blue);
  border-radius: 50px 25px;
  padding: 25px;
  margin: 15px;
}
.home-grid-item h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  letter-spacing: 1.5px;
  color: var(--clr-blue);
}
.home-grid-item p {
  color: var(--clr-accent);
  text-align: justify;
}
.home-grid-item i {
  color: var(--clr-blue);
  font-size: 2rem;
  padding: 5px;
  border: 3px solid var(--clr-blue);
  border-radius: 50%;
}
.home-grid-item i:hover {
  color: var(--clr-light);
  font-size: 2rem;
  padding: 5px;
  border: 3px solid var(--clr-blue);
  background: var(--clr-blue);
  border-radius: 50%;
}


/*---------- ABOUT ----------*/
.about-heading {
  padding-top: 5vh;
  color: var(--clr-blue);
}
.about-uptitle {
  position: relative;
  font-size: 2.5vw;
  top: 1.2vw;
  margin: 0;
}
.about-title {
  position: relative;
  font: var(--fw-bold) 10vw/1 var(--ff-heading);
  top: 2.2vw;
  margin: 0;
}
.about-border {
  position: relative;
  border: 0.4vw solid var(--clr-dark);
  top: 1.8vh;
  width: 60%;
  float: left;
}
.about-heading h2 {
  margin-top: 15vh;
  font: 6vw var(--ff-heading);
  color: var(--clr-dark);
  margin-bottom: 0.2em;
}
.about-heading p {
  font-size: 16px;
  color: var(--clr-accent);
  line-height: 1.5;
}
.about-info {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
}
.about-info h2 {
  font: var(--fw-bold) 2.5rem var(--ff-heading);
  color: var(--clr-blue);
  margin-bottom: -100px;
}
.about-info img {
  padding-top: 150px;
  width: 100%;
  height: auto;
}
.about-description {
  color: var(--clr-blue);
  font: 1.2rem var(--ff-heading);
  letter-spacing: 1.2px;
}
.about-text {
  padding-top: 25px;
  color: var(--clr-accent);
  text-align: justify;
}
.about-question {
  margin: 100px 0 50px 0;
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: var(--clr-blue);
}
.about-link {
  font-family: var(--ff-heading);
  letter-spacing: 1.2px;
  padding: 1vh;
  background-color: var(--clr-light);
  color: var(--clr-blue);
  border: 3px solid var(--clr-blue);
  border-radius: 20px 10px;
  cursor: pointer;
  transition: ease 0.3s;
}
.about-link:hover {
  border-color: var(--clr-light);
  background-color: var(--clr-blue);
  color: var(--clr-light);
}


/*---------- BLOG ----------*/
.blog-page {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}
#blog-page-title {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 8px;
  border-left: 14px solid var(--clr-blue);
}
#blog-page-title:hover {
  letter-spacing: 6px;
}
.tagline a {
  font-size: 1rem;
  background-color: var(--clr-light-gray);
  color: var(--clr-dark);
  padding: 5px;
  border-radius: 5px;
}
.tagline a.selected {
  color: var(--clr-light);
  background-color: var(--clr-blue);
}

.blog-posts {
  list-style: none;
}
.blog-posts li {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 10px;
}
.blog-post-author {
  color: var(--clr-accent);
}
.blog-post-link {
  font-weight: 600;
  margin-left: 2rem;
  color: var(--clr-blue);
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  background: linear-gradient(180deg, var(--clr-blue) 0, var(--clr-blue) 1000%) repeat-x 0 100%;
  background-size: auto;
  background-size: 1px 2px;
  transition: .3s;
}
.blog-post-link:hover {
  color: var(--clr-light);
  background-size: 1px 40px;
}
#btn-back {
  border: 0;
  background: var(--clr-blue);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#btn-back:hover {
  background: var(--clr-light);
  color: var(--clr-blue);
  border: 1px solid var(--clr-blue);
  transform: translateY(-5px);
  transition: 0.6s;
}

.post {
  margin-bottom: 100px;
}
.post-header {
  margin-bottom: 5rem;
}
.post-title {
  font-size: 5em;
  line-height: 1.1em;
  text-transform: uppercase;
}
.post-date,
.post-author {
  display: block;
  text-align: right;
  color: var(--clr-blue);
}

.post-edit {
  display: block;
  text-align: right;
  text-transform: uppercase;
}
.post-edit a {
  font-weight: 600;
  margin-left: 5px;
  color: var(--clr-primary-300);
}
.post-edit a:last-child {
  color: var(--clr-red);
}

.post-share {
  float: right;
  list-style: none;
  border: 1px solid var(--clr-blue);
  padding: 0;
}
.post-share li:first-child {
  color: var(--clr-blue);
  background-color: var(--clr-light);
  padding: 1px 3px;
}
.post-share li {
  display: block;
  float: right;
  padding: 1px 2px;
  background-color: var(--clr-blue);
  font-weight: 600;
}
.post-share li a {
  padding: 2px;
  color: var(--clr-light);
}
.post-share li a:hover {
  text-transform: uppercase;
}

.add-post-form {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}
.add-post-form h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--ff-heading);
  color: var(--clr-blue);
  border-bottom: 5px solid var(--clr-light-gray);
  padding: 25px;
}
.add-post-form {
  padding: 5px;
}
.add-post-form label {
  color: var(--clr-accent);
}
.add-post-form button {
  float: right;
  color: var(--clr-blue);
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--clr-blue);
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.add-post-form button:hover {
  background-color: var(--clr-blue);
  color: var(--clr-light);
}

.delete-post {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}
.delete-post h2,
.delete-post h3 {
  text-align: center;
}
.delete-post h2 {
  color: var(--clr-red);
}
.delete-post h3 {
  border-bottom: 5px solid var(--clr-light-gray);
}
.delete-post button {
  color: var(--clr-red);
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--clr-red);
  margin-top: 10px;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.delete-post button:hover {
  background-color: var(--clr-red);
  color: var(--clr-light);
}


/*---------- CONTACT ----------*/
.section-contact {
  background: url('../images/contact-background-design.png') no-repeat center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 3rem);
}
.contact {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}
.contact h2 {
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-blue);
}
.contact p {
  text-align: center;
  color: var(--clr-blue);
}
.border {
  width: 100px;
  height: 7px;
  background: var(--clr-blue);
  margin: 20px auto;
}
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.contact-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #0052d6;
  padding: 20px 40px;
  outline: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  font-style: italic;
  font-family: var(--ff-body);
}
.contact-input::placeholder {
  color: var(--clr-light);
}
.contact-input:focus {
  box-shadow: 0 0 10px 4px var(--clr-primary-100);
}
textarea.contact-input {
  resize: none;
  height: 120px;
}
.contact-button {
  float: right;
  border: 0;
  background: var(--clr-blue);
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.contact-button:hover {
  background: var(--clr-primary-400);
  transform: translateY(-5px);
}
#msg-info {
  margin: auto;
  margin-top: 1rem;
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background-color: rgba(128, 218, 38, 0.5);
}


/*---------- MEDIA QUERIES ----------*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }

  .about-heading h2 {
    margin-top: 25vh;
    font-size: 3.5vw;
  }
  .about-description {
    font-size: 18px;
  }
  .about-uptitle {
    font-size: 3vh;
    top: 2.5vh;
  }
  .about-title {
    font-size: 13vh;
    top: 2.5vh;
  }
  .about-border {
    width: 50%;
    top: 3.3vh;
  }

  .section-contact {
    background: url('../images/contact-background-design-wide.png') no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  #content {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header-container {
    height: calc(var(--header-height) + .5rem);
  }
  #header-bars {
    display: none;
  }
  
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 78px;
  }
  .nav-items {
    row-gap: 1.7rem;
  }
  .nav-icon {
    font-size: 1.6rem;
  }
  .nav:hover {
    width: var(--nav-width);
  }
}

@media only screen and (max-width: 768px) {
  .nav-list {
    row-gap: 3rem;
  }
}