/*---------- GOOGLE FONTS ----------*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:wght@400..700&display=swap');



/*---------- Variables ----------*/
:root {
  --header-height: 3.5rem;
  --nav-width: 220px;

  --ff-body: 'Raleway', sans-serif;
  --ff-heading: 'Orbitron', sans-serif;
  
  --fs-normal: 0.9375rem;
  --fs-medium: 0.75rem;

  --fw-normal: 400;
  --fw-bold: 700;

  --clr-primary-100: #6fd7ec;
  --clr-primary-200: #4e96b8;
  --clr-primary-300: #3a7094;
  --clr-primary-400: #293b63;
  --clr-primary-500: #14213d;

  --clr-accent: #a3a3a3;
  --clr-light: #FFFFFF;
  --clr-dark: #000000;
  --clr-blue: #0053d6;

  --clr-neon-blue: 199, 43%, 51%;
  --clr-dark-gray: 0, 0%, 64%;

  --z-fixed: 100;
}



/*---------- Base styling ----------*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--clr-primary-400) var(--clr-blue);
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: var(--clr-primary-500);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary-200);
  border-radius: 100vw;
}

body {
  font-family: var(--ff-body);
  margin: var(--header-height) 0 0 0;
}

a {
  text-decoration: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-bottom: 3rem;
}

#content {
  padding: 1rem 1rem 0;
}



/*---------- HEADER ----------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-blue);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header-container {
  position: relative;
  top: 18px;
  align-items: center;
  height: var(--header-height);
}

.header-logo {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2rem;
}

.header-icon {
  font-size: 1.8rem;
  float: right;
}

#header-bars {
  color: var(--clr-light);
  cursor: pointer;
}



/*---------- NAVIGATION ----------*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--clr-blue);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: ease-in 0.4s;
}

.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 3rem;
}

.company-logo {
  display: flex;
  align-items: center;
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
  font-family: var(--ff-heading);
}

.nav-list,
.nav-items {
  display: grid;
}

.nav-list {
  row-gap: 8rem;
}

.nav-items {
  row-gap: 1.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--clr-light);
}

.nav-link:hover {
  color: var(--clr-primary-400);
}

.nav-icon {
  font-size: 1.4rem;
  margin-right: .5rem;
}

.nav-name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
  white-space: nowrap;
}

.show-menu {
  left: 0;
}

.active {
  color: var(--clr-primary-400);
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}



/*---------- FOOTER ----------*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: var(--clr-primary-500);
  color: var(--clr-light);
  overflow: hidden;
}

.footer a {
  color: var(--clr-light);
}



/*---------- HOME ----------*/
.home-grid {
  margin: 200px 0;
}

.home-grid img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-grid-item {
  border: 3px solid var(--clr-blue);
  border-radius: 50px 25px;
  padding: 25px;
  margin: 15px;
}

.home-grid-item h2 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  letter-spacing: 1.5px;
  color: var(--clr-blue);
}

.home-grid-item p {
  color: var(--clr-accent);
  text-align: justify;
}

.home-grid-item i {
  color: var(--clr-blue);
  font-size: 2rem;
  padding: 5px;
  border: 3px solid var(--clr-blue);
  border-radius: 50%;
}

.home-grid-item i:hover {
  color: var(--clr-light);
  font-size: 2rem;
  padding: 5px;
  border: 3px solid var(--clr-blue);
  background: var(--clr-blue);
  border-radius: 50%;
}



/*---------- ABOUT ----------*/
.about-heading {
  padding-top: 5vh;
  color: var(--clr-blue);
}

.about-uptitle {
  position: relative;
  font-size: 2.5vw;
  top: 1.2vw;
  margin: 0;
}

.about-title {
  position: relative;
  font-size: 10vw;
  top: 2.2vw;
  line-height: 1;
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  margin: 0;
}

.about-border {
  position: relative;
  border: 0.4vw solid var(--clr-dark);
  top: 1.8vh;
  width: 60%;
  float: left;
}

.about-heading h2 {
  margin-top: 15vh;
  font-family: var(--ff-heading);
  font-size: 6vw;
  color: var(--clr-dark);
  margin-bottom: 0.2em;
}

.about-heading p {
  font-size: 16px;
  color: var(--clr-accent);
  line-height: 1.5;
}

.about-info {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
}

.about-info h2 {
  font-weight: var(--fw-bold);
  font-size: 2.5rem;
  color: var(--clr-blue);
  font-family: var(--ff-heading);
  margin-bottom: -100px;
}

.about-info img {
  padding-top: 150px;
  width: 100%;
  height: auto;
}

.about-description {
  color: var(--clr-blue);
  font-size: 1.2rem;
  font-family: var(--ff-heading);
  letter-spacing: 1.2px;
}

.about-text {
  padding-top: 25px;
  color: var(--clr-accent);
  text-align: justify;
}

.about-question {
  margin: 100px 0 50px 0;
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: var(--clr-blue);
}

.about-link {
  font-family: var(--ff-heading);
  letter-spacing: 1.2px;
  padding: 1vh;
  background-color: var(--clr-light);
  color: var(--clr-blue);
  border: 3px solid var(--clr-blue);
  border-radius: 20px 10px;
  cursor: pointer;
  transition: ease 0.3s;
}

.about-link:hover {
  border-color: var(--clr-light);
  background-color: var(--clr-blue);
  color: var(--clr-light);
}




/*---------- BLOG ----------*/



/*---------- CONTACT ----------*/
.section-contact {
  background: url('../images/contact-background-design.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 3rem);
}

.contact {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}

.contact h2 {
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-blue);
}

.contact p {
  text-align: center;
  color: var(--clr-blue);
}

.border {
  width: 100px;
  height: 7px;
  background: var(--clr-blue);
  margin: 20px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #0052d6;
  padding: 20px 40px;
  outline: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  font-style: italic;
  font-family: var(--ff-body);
}

.contact-input::placeholder {
  color: var(--clr-light);
}

.contact-input:focus {
  box-shadow: 0 0 10px 4px var(--clr-primary-100);
}

textarea.contact-input {
  resize: none;
  height: 120px;
}

.contact-button {
  float: right;
  border: 0;
  background: var(--clr-blue);
  color: rgb(255, 255, 255);
  padding: 12px 50px;
  border-radius: 20px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-button:hover {
  background: var(--clr-primary-400);
  transform: translateY(-5px);
  transition: 0.6s;
}

#msg-info {
  margin: auto;
  margin-top: 1rem;
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background-color: rgba(128, 218, 38, 0.5);
}



/*---------- MEDIA QUERIES ----------*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }

  .about-heading h2 {
    margin-top: 25vh;
    font-size: 3.5vw;
  }

  .about-description {
    font-size: 18px;
  }

  .about-uptitle {
    font-size: 3vh;
    top: 2.5vh;
  }

  .about-title {
    font-size: 13vh;
    top: 2.5vh;
  }

  .about-border {
    width: 50%;
    top: 3.3vh;
  }

  .section-contact {
    background: url('../images/contact-background-design-wide.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  #content {
    padding: 1rem 3rem 0 6rem;
  }

  .header {
    padding: 0 3rem 0 6rem;
  }

  .header-container {
    height: calc(var(--header-height) + .5rem);
  }

  #header-bars {
    display: none;
  }

  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 78px;
  }

  .nav-items {
    row-gap: 1.7rem;
  }

  .nav-icon {
    font-size: 1.6rem;
  }

  .nav:hover {
    width: var(--nav-width);
  }

}